@font-face {
    font-family: 'Athena';
    src: url(Athena-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Rosie';
    src: url(RosieBrownSerifDemo.otf);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #E2BCAD;
    opacity: 50%;
}

::-webkit-scrollbar-thumb {
    background: #8C4F3D;
    border-radius: 10px;
    border: 2px solid #E2BCAD;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #E2BCAD;
    color:#2D2926;
    line-height: 1.5;
}

* h1 {
    font-family: 'Rosie';
}

* h2 {
    font-family: 'Rosie';
}

* h3 {
    font-family: 'Rosie';
}

* h4 {
    font-family: 'Rosie';
}

* p {
    font-family: 'Athena';
    font-weight: 100;
}

* a {
    font-family: 'Athena';
    font-weight: 100;
}

* li {
    font-family: 'Athena';
    font-weight: 100;
}

a {
    text-decoration: none;
}

.botao_link {
    width: 150px;
    height: 35px;
    padding: 15px;
    background-color: #c4937f;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #8C4F3D;
}

header {
    width: 100%;
    height: 60px;
}

#nav_header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    background-color: #8C4F3D;
}

#nav_header div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    background-color: #8C4F3D;
}

#nav_header h2 {
    background-color: #8C4F3D;
    padding: 0 15px;
    color: #F8CCAA;
}

#nav_header ul {
    background-color: #8C4F3D;
}

.lista_nav a {
    background-color: #8C4F3D;
    color: #F8CCAA;
}

.lista_nav li {
    background-color: #8C4F3D;
}

footer {
    padding: 15px;
    height: 100px;
    background-color: #8C4F3D;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

footer div {
    background-color: #8C4F3D;
}

footer p {
    background-color: #8C4F3D;
    color: #F8CCAA;
}

.img_footer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: #8C4F3D;
}

.img_footer img {
    width: 35px;
    background-color: #8C4F3D;
}

.img_footer a {
    background-color: #8C4F3D;
}

main {
    margin: 50px 0;
    min-height: 60vh;
}

section {
    margin: 50px 0;
}

.lista_nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

.secoes {
    display: flex;
    flex-direction: row;
    margin: 20px 50px;
    gap: 50px;
    justify-content: center;
}

.secoes h2 {
    background-color: #E2BCAD;
    color:#2D2926;
}

.secoes_div {
    padding: 100px 50px;
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.texto_div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img_bem_vindo {
    margin-top: 30px;
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: #8C4F3D solid 2px;
}

#sobre_mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 350px;
    background-color: #8C4F3D;
}

#sobre_mim div {
    background-color: #8C4F3D;
}

#sobre_mim p {
    background-color: #8C4F3D;
    color: #F8CCAA;
    width: 1000px;
    text-align: center;
}

#sobre_mim h2 {
    background-color: #8C4F3D;
    color: #F8CCAA;
}

.texto_sobre_mim {
    display: flex;
    justify-content: center;
}

.secao_atividades {
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1.5px solid #8C4F3D;
    border-radius: 15px;
}

.secao_atividades h2 {
    background-color: #E2BCAD;
    color:#2D2926;
}

.div_atividades {
    display: flex;
    flex-direction: row;
    gap: 8%;
}

.div_bloco {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div_bloco h4 {
    border-bottom: #8C4F3D solid 1.5px;
}

.fotos_div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fotos_div img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.section_viagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_viagem {
    margin: 30px;
    padding: 15px 0;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1.5px solid #8C4F3D;
    border-radius: 15px;
}

.div_viagem h2 {
    background-color: #E2BCAD;
    color:#2D2926;
}

.img_galeria {
    width: 500px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #8C4F3D;
    border-radius: 15px;
}

.github_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

.github_div img {
    width: 600px;
    border: #8C4F3D solid 2px;
    border-radius: 20px;
}

.cardapio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardapio_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8C4F3D;
    width: 100%;
    height: 400px;
}

.cardapio_section_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8C4F3D;
}

.cardapio_div {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    padding: 20px;
    background-color: #8C4F3D;
}

.cardapio_div ul {
    padding: 0 30px;
    font-family: 'Athena';
    font-weight: 100;
    background-color: #8C4F3D;
    color: #F8CCAA;
}

.cardapio_section h1 {
    background-color: #8C4F3D;
    color: #F8CCAA;
}

.cardapio_div li, h2 {
    background-color: #8C4F3D;
    color: #F8CCAA;
}

.tabela {
    font-family: 'Athena';
    font-weight: 100;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 16px;
    border-bottom: 1px solid #8C4F3D;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#receita {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.receitas_sec {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.receita_section {
    width: 400px;
    height: fit-content;
    background-color: #8C4F3D;
    border-radius: 20px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.receita_section h1, h3 {
    background-color: #8C4F3D;
    color: #F8CCAA;
}

.receita_section p {
    background-color: #8C4F3D;
    color: #F8CCAA;
}

.div_receita p {
    background-color: #8C4F3D;
    color: #F8CCAA;
}

.div_receita li, ol {
    background-color: #8C4F3D;
    color: #F8CCAA;
}

.div_receita {
    background-color: #8C4F3D;
    padding: 10px;
}

.section_tabela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section_tabela h2 {
    background-color: #E2BCAD;
    color:#2D2926;
}