footer {
    max-width: 100vw;
    height: 25vh;
    margin-top: 20px;
    padding: 15px;

    background-color: lightgray;

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 15px 10px;

        div {
            padding-right: 15px;
            width: 12vw;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    section:first-of-type {
        border-bottom: darkgrey solid 1.5px;
    }
}

.div_row {
    display: flex;
    flex-direction: row;
    gap: 20px;

    img {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .div_row {
        flex-direction: column;
        align-items: center;

        img {
            width: 70%;
        }
    }
}

p {
    font-size: 18px;
}